<footer class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-right">
          <a href="http://sa2020.org" title="visit SA2020.org"><img class="footer-logo" src="/img/sa2020_typography.svg" alt="SA2020" />
          </a>
          <p class="text-mid-gray text-sm">Contáctanos: <a href="mailto:info@sa2020.org" title="email SA2020">info@sa2020.org</a></p>
          <!-- <nav class="text-sm">
            <ul class="unstyled top-level-nav">
              <li><a href="/" title="Inicio" class="uppercase text-mid-gray">Inicio</a></li>
              <li><a href="#" title="¿Qué hay en la Boleta Electoral?" class="uppercase text-mid-gray toggle-off-canvas-nav">¿Qué hay en la Boleta Electoral?</a></li>
              <li><a href="/preguntas-frecuentes/" title="preguntas frecuentes" class="uppercase text-mid-gray">Preguntas Frecuentes</a></li>
            </ul>
          </nav> -->
        </div>
	      <div class="footer-left">
          <p class="uppercase text-mid-gray text-sm mobile-hide">AYÚDANOS A HACER POSIBLE PROYECTOS COMO ESTE:
          </p>
          <a class="btn btn-sm btn-secondary" href="https://www.givegab.com/donations/new?group_id=sa2020" target="_blank" onclick="trackOutboundLink('https://www.givegab.com/donations/new?group_id=sa2020', true, 'Donate Button');">DONAR</a>

          <p class="attribution text-mid-gray text-xsm">Diseño &amp; Desarrollo Web proporcionado por:<br /> 
            <a class="text-sm" href="http://claireosburn.com" title="claireosburn.com" target="_blank">
              <strong>Claire Osburn</strong>
            </a>
          </p>
          <p class="text-xsm text-mid-gray">©2017 SA2020</p>
        </div>
      </div>
    </div>
  </div>
</footer>

