<section class="translate bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="pull-left max-full-width logo-ilsa" src="/img/ilsa-logo-sp.png" title="I love San Antonio: Voting Resource by SA2020"/>
        <a href="http://ilovesanantonio.org" class="pull-right btn btn-xsm btn-primary">View in English</a>
        <!-- <p class="text-xsm text-primary text-right mobile-hide">Versión en español pronto :)</p> -->
      </div>
    </div>
  </div>
</section>

<header class="site-header" role="banner">
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">

        <button class="hamburger hamburger--collapse mobile-show pull-right toggle-off-canvas-nav" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>

        <a class="site-title text-sa-black pull-left" href="{{ "/" | relative_url}}">
          <p class="site-title-intro">Próxima Elección en San Antonio:</p>
          <p class="site-title-main text-secondary">10 de junio de 2017</p>
          <p class="site-title-sub text-med mobile-hide"><strong>Votación Anticipada: 30 de mayo – 6 de junio</strong></p>
          <p class="site-title-sub mobile-show"><strong>Votación Anticipada: 30 de mayo – 6 de junio</strong></p>
        </a>

        <nav class="global-nav mobile-hide">
          <ul class="unstyled top-level-nav">
            <li><a href="/" title="Inicio" class="uppercase text-sa-black">Inicio</a></li>
            <li><a href="#" title="¿Qué hay en la Boleta Electoral?" class="uppercase text-sa-black toggle-off-canvas-nav">¿Qué hay en la Boleta Electoral?</a></li>
            <li><a href="/preguntas-frecuentes/" title="Preguntas Frecuentes" class="uppercase text-sa-black">Preguntas Frecuentes</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div> 
</header>
