
  <section class="reminder section-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">¿Y Ahora Qué Sigue?</h2>
          <!-- <div class="spacer-sm"></div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <a href="" title="SA Speakup website"><img class="reminder-icon" src="/img/logos/sa-speakup.png" alt="SA Speakup" />
          </a>
          <h3>Conoce Tu Presupuesto</h3>
          <p>El presupuesto de la ciudad es el siguiente gran paso que aprobarán nuestros recién electos representantes. Aprende más sobre cómo se crea el presupuesto y mantente atento de los talleres comunitarios.</p>
          <p><a href="http://www.satomorrow.com/" target="_blank" title="SA Tomorrow" onclick="trackOutboundLink('http://www.satomorrow.com/',true, 'SA Tomorrow learn more');">Saber Más >></a></p>
        </div>
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <a href="http://www.satomorrow.com/" title="SA Tomorrow website"><img class="reminder-icon" src="/img/logos/sa-tomorrow-logo.png" alt="SATomorrow" />
          </a>
          <h3>Ayuda a Guiar el Futuro</h3>
          <p>Para el año 2040, nuestra ciudad espera recibir más de 1 millón de personas adicionales. SA Tomorrow es una labor de planificación triple e innovadora para guiar la ciudad hacia un crecimiento inteligente y sustentable. </p>
          <p><a href="https://www.saspeakup.com/" target="_blank" title="SA SpeakUp" onclick="trackOutboundLink('https://www.saspeakup.com/',true, 'SA SpeakUp learn more');">Saber Más >></a></p>
        </div>  
        <div class="col-md-4">
          <div class="spacer-sm"></div>
          <a href="http://sa2020.org" title="visit SA2020.org"><img class="reminder-icon" src="/img/sa2020_typography.svg" alt="SA2020" />
          </a>
          <h3 class="">Mantente Conectado</h3>
          <p>Te enviaremos emails sobre maneras para seguir participando en tu comunidad, incluyendo oportunidades para ofrecerte como voluntario, y para recordarte cuando se aproximen otras elecciones.</p>
          <a class="" href="http://eepurl.com/cDmzyr" target="_blank" title="sign up for email reminders" onclick="trackOutboundLink('http://eepurl.com/cDmzyr', true, 'Email Signup');">Regístrame >></a>
        </div>
        
      </div>
    </div>
  </section>