
  <section class="reminder bg-light-gray section-tight">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class=" text-center">¿Quieres un recordatorio?</h2>
        </div>
      </div>
      <div class="row">  
        <div class="col-md-6 col-md-offset-3 text-center">
          <div class="reminder-box">
            <img class="reminder-icon" src="/img/email.svg" alt="email icon" />
            <h3 class="">Te Enviaremos Emails</h3>
            <p class='text-sm'>Te enviaremos recordatorios por email sobre la votación anticipada, ubicaciones de votación, y el Día de la Elección, ¡al igual que maneras para permanecer involucrado en tu comunidad después de la elección!</p>
            <a class="btn btn-sa-dark-aqua" href="http://eepurl.com/cDmzyr" target="_blank" title="REGÍSTRAME" onclick="trackOutboundLink('http://eepurl.com/cDmzyr', true, 'Email Signup');">REGÍSTRAME</a>
          </div>
        </div>
        <!-- <div class="col-md-5">
          <div class="reminder-box">
            <img class="reminder-icon" src="/img/text.svg" alt="text icon" />
            <h3 class="">Te Enviaremos Mensajes de Texto</h3>
            <p class="text-sm">¡Envía el texto <strong>MOVE</strong> al <strong>57711</strong> para recibir recordatorios y actualizaciones de MOVE SA!</p>
            <p class="text-sm">MOVE San Antonio es una organización comunitaria independiente.<a href="http://movesanantonio.org" title="Averigua más aquí" target="_blank">Averigua más aquí.</a></p>
          </div>
        </div> -->
      </div>
    </div>
  </section>