---
layout: default
---

<section class="hero has-bg-img bg-color-overlay-tertiary" style="background-image: url('/img/maps/bg-map-d{{page.district}}.png')">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h1 class="hero-header text-sa-white">{{ page.title }}</h1>
				<div class="spacer-sm mobile-hide"></div>
			</div>
			<div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="number-box number-box--district bg-sa-dark-aqua">
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["turnout"] }}</p>
            <p class="number-box--description text-sa-white">Número total de votantes en el Distrito 1 en junio de 2017
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="number-box number-box--district bg-sa-dark-aqua">
            <p class="number-box--number text-sa-white">Hay {{ site.data.stats[page.district]["size"] }}</p>
            <p class="number-box--description text-sa-white">millas cuadradas en el D{{page.district}}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="number-box number-box--district bg-sa-dark-aqua">
            <p class="number-box--number text-sa-white">{{ site.data.stats[page.district]["population"] }}</p>
            <p class="number-box--description text-sa-white">es la población del D{{page.district}}</p>
          </div>
        </div>
			</div>
		</div>
	</div>
</section>

<section class="district-body section-tight">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!-- <div class="addthis_inline_share_toolbox pull-right clearfix"></div> -->
					
				<div class="">
					<h2 class="">Resultados de la Segunda Vuelta</h2>
					<hr />

					{% assign mayorCandidates = site.data.candidates["mayor"] %}
					<h3 class="">Alcalde</h3>
					<div class="row">
					{% assign mayorCandidates = site.data.candidates["mayor"] %}
					
					{% assign mayorLength = mayorCandidates | size %}

					{% for candidate in mayorCandidates %}

					<div class="col-sm-3">
						{% if candidate.photo != "" %}
						<img class="responsive district-page-results" src="{{ candidate.photo }}" alt="{{ candidate.name }} photo" />
						{% else %}
						<img class="responsive mobile-hide" src="/img/candidates/no-photo.png" alt="no photo provided" />
						{% endif %}
					</div>
					<div class="col-sm-6">
						<h4 class="has-subtitle">{{ candidate.name }} <strong><span class="text-sa-dark-aqua"><i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></h4>
						<p class="progress-title text-xsm">Resultados de la Segunda Vuelta: {{ candidate.votePercent }}%</p>
						<div class="progress">
						  <div class="progress-bar bg-sa-dark-aqua" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ candidate.votePercent }}%;">
						    	{{ candidate.votes }} votos
						  </div>
						</div>
						<!-- <div class="">
							{% if candidate.website != "" %}
							<a class="text-sm underline" target="_blank" href="{{ candidate.website }}" title="view website" onclick="trackOutboundLink('{{ candidate.website }}', true, '{{ candidate.name }} Website');">Website</a>
							{% endif %}
							{% if candidate.filing != ""  %}
							| <a class="text-sm underline" target="_blank" href="{{ candidate.filing }}" title="view filing document" onclick="trackOutboundLink('{{ candidate.filing }}', true, '{{ candidate.name }} Filing');">Filing Document</a>
							{% endif %}
						</div> -->
						<div class="social-icons">
							{% if candidate.fb != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.fb }}" title="view facebook page" onclick="trackOutboundLink('{{ candidate.fb }}', true, '{{ candidate.name }} Facebook');"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
							{% endif %}
							{% if candidate.twitter != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.twitter }}" title="view twitter page" onclick="trackOutboundLink('{{ candidate.twitter }}', true, '{{ candidate.name }} Twitter');"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
							{% endif %}
							{% if candidate.instagram != ""  %}
							<a class="text-xl" target="_blank" href="{{ candidate.instagram }}" title="view instagram" onclick="trackOutboundLink('{{ candidate.instagram }}', true, '{{ candidate.name }} Instagram');"><i class="fa fa-instagram" aria-hidden="true"></i></a>
							{% endif %}
						</div>
					</div>

					{% endfor %}
				</div>

				<div class="spacer-sm"></div>

					{% assign councilCandidates = site.data.candidates[page.district] %}
					{% assign length = councilCandidates | size %}
					{% if length == 1 %}
						
					{% for candidate in councilCandidates %}
					<h3 class="">Miembros del Consejo Municipal</h3>
					<div class="row">
						<div class="col-sm-3">
							{% if candidate.photo != "" %}
							<img class="responsive district-page-results" src="{{ candidate.photo }}" alt="{{ candidate.name }} photo" />
							{% else %}
							<img class="responsive district-page-results mobile-hide" src="/img/candidates/no-photo.png" alt="no photo provided" />
							{% endif %}
						</div>
						<div class="col-sm-6">
							<h4 class="has-subtitle">{{ candidate.name }} <strong><span class="text-sa-dark-aqua"><i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></h4>

							<div class="">
								{% if candidate.cityLink != "" %}
								<a class="text-sm underline subtitle" target="_blank" href="{{ candidate.cityLink }}" title="view city webpage" onclick="trackOutboundLink('{{ candidate.cityLink }}', true, '{{ candidate.name }} City Page');">Conoce más sobre {{candidate.name}}</a>
								{% endif %}
								{% if candidate.phone != "" %}
								<p class="text-sm">Contacta a la oficina: {{ candidate.phone }}</p>
								{% endif %}
							</div>

							<p class="progress-title text-xsm">Resultados de la Segunda Vuelta: {{ candidate.votePercent }}%</p>
							<div class="progress">
							  <div class="progress-bar bg-sa-dark-aqua" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ candidate.votePercent }}%;">
							    	{{ candidate.votes }} votos
							  </div>
							</div>
							<div class="social-icons">
								{% if candidate.fb != ""  %}
								<a class="text-xl" target="_blank" href="{{ candidate.fb }}" title="view facebook page" onclick="trackOutboundLink('{{ candidate.fb }}', true, '{{ candidate.name }} Facebook');"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
								{% endif %}
								{% if candidate.twitter != ""  %}
								<a class="text-xl" target="_blank" href="{{ candidate.twitter }}" title="view twitter page" onclick="trackOutboundLink('{{ candidate.twitter }}', true, '{{ candidate.name }} Twitter');"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
								{% endif %}
								{% if candidate.instagram != ""  %}
								<a class="text-xl" target="_blank" href="{{ candidate.instagram }}" title="view instagram" onclick="trackOutboundLink('{{ candidate.instagram }}', true, '{{ candidate.name }} Instagram');"><i class="fa fa-instagram" aria-hidden="true"></i></a>
								{% endif %}
							</div>
						</div>
					</div>

					{% endfor %}

					<div class="spacer-sm"></div>

					{% endif %}


					<h3>Bono Municipal 2017</h3>
					<p><strong>Propuesta 1 - Mejoras de Calles, Puentes y Aceras: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>

					<p><strong>Propuesta 2 - Mejoras de Drenaje &amp; Control de Inundaciones: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>

					<p><strong>Propuesta 3 - Mejoras de Parques, Lugares de Recreación &amp; Espacios Abiertos: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>
					
					<p><strong>Propuesta 4 - Mejoras de Bibliotecas &amp; Instalaciones Culturales: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>
					
					<p><strong>Propuesta 5 - Mejoras de Instalaciones de Seguridad Pública: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>
					
					<p><strong>Propuesta 6 - Mejoras de Vecindarios: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>

					<div class="spacer-sm"></div>

					<h3>Bono de Universidades de Álamo</h3>
					<p><strong>Bono Completo: <span class="text-sa-dark-aqua">Aprobada <i class="fa fa-check-square-o" aria-hidden="true"></i></strong></span></strong></p>

					<div class="spacer-sm desktop-hide"></div>

				</div>

			</div>

			<div class="col-md-3 col-md-offset-1">

				<h3>Mapa del Distrito {{ page.title }}</h3>				
				{% assign largerMapLink = site.data.stats[page.district]['map'] %}

				<a href="{{ site.data.stats[page.district]['map'] }}" target="_blank" title="View larger map">
					<img class="responsive map-thumb" src="{{ site.data.stats[page.district]['map-thumb'] }}" />
				</a>
				<p class="text-sm"><a href="{{ largerMapLink }}" target="_blank" title="Ver PDF Más Grande" onclick="trackOutboundLink('{{ largerMapLink }}',true,'District {{ page.district }} Map');">Ver PDF Más Grande >></a></p>
				
				<hr />

				<h3 class="">Mantente Involucrado</h3>
				<div class="resources-list">
				
					<ul class="unstyled">
						<li><a href="https://webservices.sos.state.tx.us/vrapp/index.asp" title="Regístrate para votar" target="_blank" onclick="trackOutboundLink('https://webservices.sos.state.tx.us/vrapp/index.asp',true,'Registration Application');">Regístrate para votar</a></li>
						<li><a href="https://www.bexar.org/2229/Voter-Registration-Check-Polling-Locatio" title="Comprueba Tu Registro" target="_blank" onclick="trackOutboundLink('https://www.bexar.org/2229/Voter-Registration-Check-Polling-Locatio',true,'Check Your Registration');">Comprueba Tu Registro</a></li>
						<li><a href="http://www.saspeakup.com/" title="Expresa Tus Prioridades de Presupuesto de la Ciudad de San Antonio para el 2017 y Habla Fuerte SA" target="_blank" onclick="trackOutboundLink('http://www.saspeakup.com/',true,'Voice Your 2018 City of San Antonio Budget Priorities');">Expresa Tus Prioridades de Presupuesto de la Ciudad de San Antonio para el 2018 y Habla Fuerte SA</a></li>
						<li><a href="http://www.satomorrow.com/" title="SA Tomorrow" target="_blank" onclick="trackOutboundLink('http://www.satomorrow.com/',true,'Learn more about san antonios plans to address growth');">Aprende más sobre los planes de San Antonio para afrontar el crecimiento</a></li>
					</ul>
				</div>
				

			</div>
		</div>

	</div>
</section>

<hr />

{% include newsletter.html %}

<!-- <section class="faq-cta bg-sa-dark-aqua section-tight">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h3 class="text-sa-white">¿Todavía tienes preguntas?</h3>
				<p><a class="btn btn-sa-white text-sa-dark-aqua" href="/preguntas-frecuentes/" title="Preguntas Frecuentes">Preguntas Frecuentes</a></p>
			</div>
		</div>
	</div>
</section> -->

