---
layout: default
---

<div class="home">

  <section class="hero hero-home has-bg-img bg-color-overlay-tertiary" style="background-image: url(/img/maps/bg-map-home.png)">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <p class="h1 uppercase hero-header text-sa-white">¡Gente, estamos en una segunda vuelta!</p>
          <div class="spacer-sm"></div>
          <!-- Button trigger modal -->
          <p class="text-lg text-sa-white">¡San Antonio necesita tu voz, ahora más que nunca!</p>
          <button class="btn btn-lg btn-sa-dark-aqua" data-toggle="modal" data-target="#start-here-modal" onclick="trackInboundLink('Modal','Start Here');">Comienza Aquí</button>
        </div>
      </div>
    </div>
  </section>

  <section class="home-options">
    <div class="container">
      <div class="row options-container">
        <div class="col-md-6 option">
          <h3 class="">¿Qué es una segunda vuelta?</h3>
          <p>
          Cuando ningún candidato recibe una mayoría (50% +1 voto), la contienda pasa a una segunda vuelta electoral entre los 2 candidatos principales. <strong>¡Puedes votar en la segunda vuelta incluso si no votaste en la elección de mayo!</strong>
          </p>
          
          <div class="spacer-sm"></div>
                    
          <h3>¿Quién está en la segunda vuelta?</h3>
          <p>El alcalde y los distritos del Consejo Municipal 1, 2, 6, 8, 9 y 10, todos estos están en una segunda vuelta. Incluso aunque el representante del consejo municipal haya sido elegido, todavía tienes que votar por el alcalde. Nos referimos a ustedes, distritos 3, 4, 5 y 7.</p>
          <p class="uppercase"><a href="http://www.sanantonio.gov/Council/Find-My-Council-Member" title="COMPRUEBA TU DISTRITO" target="_blank" onclick="trackOutboundLink('http://www.sanantonio.gov/Council/Find-My-Council-Member', true, 'Check Your District');"><strong>COMPRUEBA TU DISTRITO ></strong></a></p>
          <p class="uppercase"><a href="#" title="CONOZCO MI DISTRITO" class="uppercase toggle-off-canvas-nav"><strong>CONOZCO MI DISTRITO ></strong></a></p>
        </div>
          
        <div class="col-md-6 option">
          <h3>Votar</h3>
          <p>El proceso de elección para una segunda vuelta es el mismo que el de la elección general. La votación anticipada será del 30 de mayo al 6 de junio. El Día de la Elección es el 10 de junio. ¡Encuentra tu centro de votación más cercano y vota! ¡San Antonio te necesita!</p>
          <p class="uppercase"><a href="https://www.bexar.org/2231/Who-represents-me-Search" title="Early voting locations list" target="_blank" onclick="trackOutboundLink('https://www.bexar.org/2231/Who-represents-me-Search', true, 'Find your precinct');"><strong>TU DISTRITO ELECTORAL &amp; CENTRO DE VOTACIÓN ></strong></a></p>
          <p class="uppercase"><a href="https://www.sos.state.tx.us/elections/voter/reqabbm.shtml" title="Early voting locations list" target="_blank" onclick="trackOutboundLink('https://www.sos.state.tx.us/elections/voter/reqabbm.shtml', true, 'Mail-in Ballot Application');"><strong>SOLICITUD PARA BOLETA ENVIADA POR CORREO ></strong></a></p>
          
          <a class="btn btn-sm btn-sa-dark-aqua" href="/faq/" title="frequently asked questions">Preguntas Frequentes</a>

        </div>
      </div>
    </div>
  </section>

  <section class="has-bg-img bg-color-overlay-light-gray" style="background-image: url(/img/maps/bg-map-zoom.png)">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>¿Sabías que…?</h2>
        </div>
      </div><!--./row-->
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">El 11.3%</p>
            <p class="number-box--description text-sa-white">de los votantes votó realmente en 2017</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">1M+</p>
            <p class="number-box--description text-sa-white">Total de votantes registrados en mayo de 2017 en el Condado de Bexar</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">116,212</p>
            <p class="number-box--description text-sa-white">Número total de votantes en la elección de mayo de 2017</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number-box bg-tertiary">
            <p class="number-box--number text-sa-white">1.4M+</p>
            <p class="number-box--description text-sa-white">es la población estimada de San Antonio en 2016</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="h4">Puedes encontrar más indicadores comunitarios en <a href="http://dashboard.sa2020.org/progress_type/civic-engagement/6/" title="sa2020 data dashboard" class="text-sa-black underline" target="_blank" onclick="trackOutboundLink('http://sa2020.org/progress', true, 'SA2020.org/progress');">sa2020.org/progress</a></p>
        </div>
      </div>
    </div>
  </section>

  {% include newsletter.html %}

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>¿De dónde salió toda esta maravillosa información?</h2>
          <div class="logo-container">
            
            <a target="_blank" href="http://cinow.info/" title="CI:Now Website"><img src="/img/logos/cinow.png" alt="CI:Now logo" class="credit-logo"/></a>            

            <a target="_blank" href="https://www.bexar.org/elections" title="Bexar County Elections Website"><img src="/img/logos/bexar-county.jpg" alt="Bexar County logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://www.sanantonio.gov/ElectionsCampaignFinance" title="City of San Antonio website"><img src="/img/logos/city-of-san-antonio.png" alt="City of San Antonio logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://tpr.org/programs/source#stream" title="Texas Public Radio website"><img src="/img/logos/tpr.png" alt="Texas Public Radio logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://organizesa.com" title="OrganizeSA"><img src="/img/logos/organize-sa.png" alt="OrganizeSA logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.civictechfoundation.org/" title="Civic Tech Foundation website"><img src="/img/logos/ctf.png" alt="Civic Tech Foundation logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.lwvsanantonio.org" title="League of Women Voters website"><img src="/img/logos/league-of-women-voters.jpeg" alt="League of Women Voters logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://www.votetexas.gov" title="Texas Secretary of State website"><img src="/img/logos/texas-secretary-of-state.png" alt="Texas Secretary of State logo" class="credit-logo"/></a>
            
            <a target="_blank" href="http://nowcastsa.com/category/politics" title="NowCastSA website"><img src="/img/logos/nowcastsa.png" alt="NowCastSA logo" class="credit-logo"/></a>

            <a target="_blank" href="https://therivardreport.com" title="Rivard Report website"><img src="/img/logos/rivard-report.png" alt="Rivard Report logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.sahcc.org/government-affairs" title="San Antonio Hispanic Chamber Website"><img src="/img/logos/sahcc.png" alt="San Antonio Hispanic Chamber of Commerce logo" class="credit-logo"/></a>

            <a target="_blank" href="http://thinkvoting.com" title="Think Voting Website"><img src="/img/logos/think-voting.png" alt="Think Voting App logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.vote411.org" title="Vote411.org"><img src="/img/logos/vote411.gif" alt="Vote411 logo" class="credit-logo"/></a>

            <a target="_blank" href="http://video.klrn.org/show/texas-week" title="KLRN website"><img src="/img/logos/klrn.png" alt="KLRN logo" class="credit-logo"/></a>

            <a target="_blank" href="http://movesanantonio.org" title="MOVE SA website"><img src="/img/logos/movesa.png" alt="MOVE SA logo" class="credit-logo"/></a>

            <a target="_blank" href="https://www.saspeakup.com" title="SA Speakup"><img src="/img/logos/speakup.jpg" alt="SASpeakUp Logo" class="credit-logo"/></a>

            <a target="_blank" href="http://www.mifamiliavota.org/where-we-are/texas/" title="Mi Familia Vota website"><img src="/img/logos/mi-familia-vota.jpg" alt="Mi Familia Vota logo" class="credit-logo"/></a>

          </div>
        </div>
      </div>
    </div>
  </section>

  
</div>
